.black-theme {
	.header__theme-btn {
    transform: rotate(180deg);
	}
}

.container {
	@include wrapper();
}

.logo {
	display: inline-block;
	img {
		vertical-align: middle;
	}
}

.h1,
.h2,
.h3 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	strong {
		font-weight: 900;
	}
}

.h1 {
	font-weight: 800;
	font-size: 64px;
	line-height: 1;
	strong {
		font-family: 'Montserrat', sans-serif;
		font-size: 111px;
	}
}

.h2 {
	font-size: 58px;
	line-height: 1.1;
}

.h3 {
	font-size: 35px;
	line-height: 1.8;
	font-weight: 900;
}

.h4 {
	font-size: 30px;
	font-weight: 900;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	&__content {
		flex: 1 1 auto;
		padding-top: calc($headerSize + 70px);
	}
}

// *Buttons
.btn {
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	cursor: pointer;
	white-space: break-spaces;
	font-weight: 900;
	font-size: 19px;
	line-height: normal;
	border-radius: 100px;
	min-width: 170px;
	box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.33);
	color: $white;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(269.78deg, #3f9ddb 1.3%, #6000db 95.76%);
		border-radius: 100px;
		z-index: -1;
	}
	&::after {
		content: "";
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: -2px;
		right: -2px;
		background: linear-gradient(269.78deg, #3f9ddb 1.3%, #6000db 95.76%);
		border-radius: 100px;
		z-index: -1;
		opacity: 0;
	}

	&--flex {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		span {
			margin-left: 9px;
		}
	}

	&--big {
		min-width: 195px;
		padding: 22px 20px;
		font-size: 20px;
	}

	@media screen and (min-width: $mobileBreakpoint) {
		transition: 0.35s ease;
		path, &::after {
			transition: 0.35s ease;
		}

		&:hover {
			color: $black;
			background-color: $white;
			&::after {
				opacity: 1;
			}
			path {
				fill: $black;
			}
		}
	}
}
// */Buttons

// *Socials
.socials {
	$offset: 9px;
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-left: 0;
		list-style: none;
		margin: -$offset;
	}
	li {
		margin: $offset;

		@media screen and (min-width: 1024px) {
			transition: 0.35s ease;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	a {
		display: flex;
	}
}
// */Socials

// *Tabs
[data-tab-content] {
	display: none;
	&.active {
		display: block;
	}
}
// */Tabs

// *Navigation
.navigation {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 16px;
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -15px;
		li {
			margin: 0 15px;
		}
		a {
			display: block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
// */Navigation
