.black-theme {
	.header__theme-btn {
		transform: rotate(180deg);
	}
	color: $white;
	background-color: $black;
	p {
		color: $white;
	}
	.about {
		&__btn {
			path {
				fill: $white;
			}
			rect {
				stroke: $white;
			}
		}
		&__item {
			background-color: $black;
			color: $white;
		}
	}
	.btn--outline {
		background-color: $black;
		color: $white;
		box-shadow: none;
	}
	.partners {
		&__btn {
			color: $black;
		}
	}
	.roadmap {
		&__item {
			path {
				fill: $white;
			}
		}
		&__year {
			background-image: linear-gradient(
				269.78deg,
				rgba(63, 157, 219, 0.3) 1.3%,
				rgba(96, 0, 219, 0.3) 95.76%
			);
		}
	}
	.team {
		&__item {
			&::before {
				content: '';
				position: absolute;
				top: -3px;
				bottom: -3px;
				left: -3px;
				right: -3px;
				background: linear-gradient(269.78deg, #3f9ddb 1.3%, #6000db 95.76%);
				z-index: -1;
				border-radius: 18px;
			}
		}
	}
	.swiper-pagination {
		.swiper-pagination-bullet {
			background-color: rgba(255, 255, 255, 0.16);
		}
		.swiper-pagination-bullet-active {
			background-color: $white;
		}
	}
}

.container {
	max-width: 1260px;
	padding: 0 30px;
	width: 100%;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	img {
		vertical-align: middle;
	}
}

.h1,
.h2,
.h3 {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	strong {
		font-weight: 900;
	}
}

.h1 {
	font-weight: 800;
	font-size: 64px;
	line-height: 1;
	strong {
		font-family: 'Montserrat', sans-serif;
		font-size: 111px;
	}
	@media screen and (max-width: $mobileBreakpoint) {
		font-size: 36px;
		strong {
			display: inline-block;
			font-size: 84px;
			margin-top: 15px;
		}
	}
	@media screen and (max-width: 600px) {
		font-size: 30px;
		strong {
			font-size: 48px;
			margin-top: 0;
		}
	}
}

.h2 {
	font-size: 58px;
	line-height: 1.1;
	@media screen and (max-width: $mobileBreakpoint) {
		font-size: 48px;
	}
	@media screen and (max-width: 600px) {
		font-size: 40px;
	}
}

.h3 {
	font-size: 35px;
	line-height: 1.3;
	@media screen and (max-width: 600px) {
		font-size: 20px;
	}
}

.h4 {
	font-family: 'Mulish', sans-serif;
	font-size: 30px;
	font-weight: 900;
	@media screen and (max-width: $mobileBreakpoint) {
		font-size: 25px;
	}
}

.title {
	font-family: 'Mulish', sans-serif;
	font-weight: 900;
	font-size: 48px;
	span {
		font-weight: 700;
	}
	@media screen and (max-width: 600px) {
		font-size: 30px;
	}
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	&__content {
		flex: 1 1 auto;
		padding-top: calc($headerSize + 70px);
		@media screen and (max-width: 600px) {
			$headerSize: 95px; 
			padding-top: calc($headerSize + 35px);
		}
	}
}

// *Buttons
.btn {
	font-family: 'Mulish', sans-serif;
	display: inline-block;
	padding: 15px 20px;
	text-align: center;
	cursor: pointer;
	white-space: break-spaces;
	font-weight: 900;
	font-size: 19px;
	line-height: normal;
	border-radius: 100px;
	min-width: 170px;
	box-shadow: 0px 0px 12px 2px rgba(255, 255, 255, 0.33);
	color: $white;
	position: relative;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(269.78deg, #3f9ddb 1.3%, #6000db 95.76%);
		border-radius: 100px;
		z-index: -1;
	}
	&::after {
		content: '';
		position: absolute;
		top: -2px;
		bottom: -2px;
		left: -2px;
		right: -2px;
		background: linear-gradient(269.78deg, #3f9ddb 1.3%, #6000db 95.76%);
		border-radius: 100px;
		z-index: -1;
		opacity: 0;
	}
	@media screen and (max-width: $mobileBreakpoint) {
		font-size: 15px;
	}

	&--flex {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		span {
			margin-left: 9px;
		}
	}

	&--outline {
		color: $black;
		background-color: $white;
		&::after {
			opacity: 1;
		}
	}

	&--big {
		min-width: 195px;
		padding: 22px 20px;
		font-size: 20px;
		@media screen and (max-width: $mobileBreakpoint) {
			font-size: 17px;
		}
		@media screen and (max-width: 600px) {
			font-size: 15px;
			padding: 14px 20px;
		}
	}

	@media screen and (min-width: $mobileBreakpoint) {
		&:not(.btn--outline) {
			&:hover {
				color: $black;
				background-color: $white;
				&::after {
					opacity: 1;
				}
				path {
					fill: $black;
				}
			}
		}
	}
	transition: 0.35s ease;
	path,
	&::after {
		transition: 0.35s ease;
	}
}
// */Buttons

// *Socials
.socials {
	$offset: 9px;
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-left: 0;
		list-style: none;
		margin: -$offset;
	}
	li {
		margin: $offset;

		@media screen and (min-width: 1024px) {
			transition: 0.35s ease;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	a {
		display: flex;
	}
}
// */Socials

// *Tabs
[data-tab-content] {
	display: none;
	&.active {
		display: block;
	}
}
// */Tabs

// *Navigation
.navigation {
	font-family: 'Mulish', sans-serif;
	font-weight: 700;
	font-size: 16px;
	ul {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -15px;
		a {
			display: block;
			&:hover {
				text-decoration: underline;
			}
		}
		li {
			margin: 0 15px;
			&.active {
				a {
					position: relative;
					&::after {
						position: absolute;
						content: '';
						left: 0;
						bottom: -5px;
						width: 100%;
						height: 3px;
						background-color: #46acfa;
						border-radius: 6px;
					}
				}
			}
		}
	}
}
// */Navigation

// *Tabs
.tabs {
	&__content {
		@media screen and (max-width: $mobileBreakpoint) {
			margin-left: 50px;
			margin-right: 50px;
		}
		@media screen and (max-width: 768px) {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 42px;
		margin: -15px;
		@media screen and (max-width: $mobileBreakpoint) {
			justify-content: center;
		}
		@media screen and (max-width: 600px) {
			margin: -7px;
		}
	}
	&__btn {
		margin: 15px;
		&.active {
			color: $white;
			background-color: transparent;
			&::after {
				opacity: 0;
			}
		}
		@media screen and (max-width: $mobileBreakpoint) {
			min-width: 144px;
			padding: 17px 20px;
		}
		@media screen and (max-width: 600px) {
			min-width: 122px;
			width: calc(50% - 14px);
			margin: 7px;
		}
	}
}
// */Tabs

// *Swiper
.swiper-pagination {
	display: none;
	position: static;
	margin-top: 43px;
	@media screen and (max-width: 700px) {
		display: block;
	}
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.16);
	}
	.swiper-pagination-bullet-active {
		background-color: $black;
	}
}
// */Swiper
