.hero {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: calc(100vh - $headerSize);
	padding: 30px 0;
	margin-top: -70px;
	color: $white;
	@media screen and (max-width: 600px) {
		margin-top: -35px;
	}

	@media screen and (max-width: $mobileBreakpoint) {
		align-items: flex-start;
		padding-top: 115px;
	}

	&__title {
		margin-bottom: 40px;
		@media screen and (max-width: 600px) {
			margin-bottom: 28px;
		}
	}

	p {
		color: $white;
	}

	.container {
		width: 100%;
	}

	&__video {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: url('../img/promo-bg.jpg') center / cover no-repeat;
		video {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
		&::before {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($black, 0.15);
			z-index: 3;
		}
	}

	&__content {
		position: relative;
		z-index: 5;
		p {
			margin-bottom: 50px;
		}
		@media screen and (max-width: $mobileBreakpoint) {
			text-align: center;
			p {
				margin-bottom: 35px;
			}
		}
		@media screen and (max-width: 600px) {
			p {
				max-width: 182px;
				margin: 0 auto;
				margin-bottom: 32px;
				font-size: 13px;
				line-height: 20px;
			}
		}
	}

	&__buttons {
		display: flex;
		margin: -12px;
		@media screen and (max-width: $mobileBreakpoint) {
			justify-content: center;
		}
		@media screen and (max-width: 600px) {
			margin: -8px;
		}
	}

	&__btn {
		margin: 12px;
		@media screen and (max-width: 600px) {
			min-width: 120px;
			margin: 8px;
			padding: 13px 15px;
			img,
			svg {
				width: 17px;
			}
		}
	}
}
