.join {
	overflow: hidden;
	color: $white;
	padding-top: 155px;
	padding-bottom: 290px;

	@media screen and (max-width: $mobileBreakpoint) {
		padding-bottom: 83px;
		padding-top: 30px;
	}

	p {
		color: $white;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		background-color: #020204;
		border-radius: 38px;
		padding: 20px 80px;

		@media screen and (max-width: $mobileBreakpoint) {
			padding: 15px 80px;
			padding-right: 30px;
		}

		@media screen and (max-width: 600px) {
			flex-direction: column-reverse;
			align-items: center;
			text-align: center;
			padding: 10px 20px 40px;
		}

		&::before {
			content: '';
			position: absolute;
			top: -6px;
			bottom: -6px;
			left: -6px;
			right: -6px;
			background: linear-gradient(
				132deg,
				rgb(198, 236, 251) 7%,
				rgb(74, 172, 212) 15%,
				rgba(233, 30, 99, 0.48) 100%
			);
			border-radius: 38px;
			z-index: -1;
		}
	}

	&__content {
		position: relative;
		z-index: 3;
		p {
			margin-bottom: 44px;
			@media screen and (max-width: $mobileBreakpoint) {
				margin-bottom: 22px;
				font-size: 19px;
			}
		}
		@media screen and (max-width: 600px) {
			display: flex;
			flex-direction: column;
			p {
				font-size: 14px;
			}
		}
	}

	&__title {
		margin-bottom: 44px;
		@media screen and (max-width: $mobileBreakpoint) {
			margin-bottom: 22px;
		}
		@media screen and (max-width: 600px) {
			margin-bottom: 30px;
			font-size: 19px;
		}
	}

	&__btn {
		width: 100%;
		font-size: 17px;
		padding: 24px 30px;

		@media screen and (max-width: $mobileBreakpoint) {
			font-size: 15px;
			max-width: 240px;
			padding: 23px;
		}
		@media screen and (max-width: 600px) {
			order: -1;
			max-width: 100%;
			padding: 23px;
			margin-bottom: 26px;
		}
	}

	&__video {
		width: 320px;
		@media screen and (max-width: $mobileBreakpoint) {
			width: 250px;
		}

		video {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
